@font-face {
    font-family: Pixelated;
    src: url('Tiny5-Regular.ttf');
}

*{
    font-family: Pixelated;
}

body{
    background-image: url('background.jpg');
    /* background-color: gold; */
}

.device-container{  
 display: flex;
 justify-content: center;
 align-items: center;
}

.device-button{
    border: 1px solid white;
    width: 20px;
    height: 20px;
    background-color: gray;
    border-radius: 10px;
}

.device-buttons-container{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.device-plastic{
    border: 2px solid rgb(1, 75, 75);
    height: 230px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 10px;
    border-radius: 90px;
    /* background-color: teal; */
    background-image: url('pattern.jpg');
}

.device-screen{
    width: 128px;
    height: 128px;
    background-color: orange;
    border-radius: 10px;
    display: flex;
}

.header-container{
    display: flex;
    justify-content: center;
}

.icon-pixel{
    background-color: black;
}

.logo{
    color: rgb(243, 64, 234);
    font-size: 64px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: blueviolet;
    border-radius: 5px;
    border: 5px rgb(243, 64, 234) solid;
}

.pixel-container{
    margin: 0;
    padding: 0;
}

.pixel{
    height: 4px;
    width: 4px;    
}

#pixel1{
    border-top-left-radius: 10px;
}
#pixel993{
    border-top-right-radius: 10px;
}
#pixel1024{
    border-bottom-right-radius: 10px;
}
#pixel32{
    border-bottom-left-radius: 10px;
}

#quick-start{
    justify-self: center;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    background-color: bisque;
    border: 3px solid darkolivegreen;
}

.odd{
    background-color: gray;
}

.even{
    background-color: gray;
}

.screen-edge{
    background-color: lightgray;
}

.tune-pixel{
    background-color: brown;
}

.tune-pixel-list{
    display: flex;
    gap: 25px;
}